/**************************************************************************************************************************/

.snackbar-success {
  background-color: #4caf50; /* Vert pour succès */
  color: white;
}

.snackbar-error {
  background-color: #f44336; /* Rouge pour erreur */
  color: white;
}

/**************************************************************************************************************************/

@media screen and (max-width: 650px) {

  .card_register {
    width: 75%;
  }

}

/**************************************************************************************************************************/
