<!-- Main container of the page -->
<div>

  <!-- Section: Presentation of Poker -->
  <div class="ml-2 mr-2 mt-2 mb-2">
    <h1>Bienvenue au Poker</h1>
    <p>
      Que vous soyez un amateur passionné ou un joueur aguerri, ce site de poker en ligne vous plonge dans l'univers
      palpitant des cartes et des stratégies, où chaque mise peut changer le cours de la partie.
    </p>
  </div>

  <div class="row-no-width h-space-around ml-2 mr-2 mt-2 mb-2">

    <mat-card class="w-30">
      <img mat-card-image src="assets/images/Card_Man_Made_Poker.png" alt="Random picture">
      <mat-card-content>
        <a mat-button (click)="redirectStartGame()">
          Démarrer une partie
        </a>
      </mat-card-content>
    </mat-card>

    <mat-card class="w-30">
      <img mat-card-image src="assets/images/Card_Man_Made_Poker.png" alt="Random picture">
      <mat-card-content>
        <p>
          Rejoindre une partie
        </p>
      </mat-card-content>
    </mat-card>

  </div>

</div>
