<div class="ml-2 mr-2 mt-2 mb-2">
  <h1>Bienvenue au Poker</h1>
  <p>
    Ce site de poker en ligne vous plonge dans l'univers des cartes et des stratégies.
  </p>
</div>

<div class="row-no-width h-space-around ml-2 mr-2 mt-2 mb-2">

  <mat-card class="w-30" *ngFor="let player of players">
    <mat-card-header>
      <mat-card-title>{{ player.username }}</mat-card-title>
      <mat-card-subtitle>ID: {{ player.id }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Argent : {{ player.money }}$</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="giveMoney(player.id)">
        💰 Motherlode
      </button>
    </mat-card-actions>
  </mat-card>

</div>