$primary: #357a9b;
$primary-light: #69a9cc;
$primary-dark: #004e6d;
$primary-text: #fff;

$secondary: #841125;
$secondary-light: #b9464d;
$secondary-dark: #510000;
$secondary-text: #fff;

$adpb-white:    #fff;
$adpb-gray-100: #f8f9fa;
$adpb-gray-200: #e9ecef;
$adpb-gray-300: #dee2e6;
$adpb-gray-400: #ced4da;
$adpb-gray-500: #adb5bd;
$adpb-gray-600: #6c757d;
$adpb-gray-700: #495057;
$adpb-gray-800: #343a40;
$adpb-gray-900: #212529;
$adpb-black:    #000;

$adpb-primary:       #0d6efd;
$adpb-secondary:     #6c757d;
$adpb-success:       #198754;
$adpb-info:          #0dcaf0;
$adpb-warning:       #ffc107;
$adpb-danger:        #dc3545;
$adpb-light:         #f8f9fa;
$adpb-dark:          #212529;

$background: #eee;
