<!-- FOOTER -->

<mat-toolbar class="footer">

  <!-- First Line -->

  <mat-toolbar-row class="first_line row-no-width">
    <button mat-button>Paramétrer mes cookies</button>
    <button mat-button>Conditions Générales d'Utilisation</button>
    <button mat-button>Politique Générale de Protection des Données</button>
    <button mat-button>Fonctionnement de notre site</button>
  </mat-toolbar-row>

  <!-- Text Copyright -->

  <mat-toolbar-row class="text_footer">
    <p>Tous droits réservés Arnold et Louis copyright &copy;2025</p>
  </mat-toolbar-row>

</mat-toolbar>
